@font-face {
  font-family: "Adobe Caslon Pro Semibold";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Semibold.otf);
}

@font-face {
  font-family: "Adobe Caslon Pro Regular";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Regular.otf);
}

@font-face {
  font-family: "Adobe Caslon Pro Bold";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Bold.otf);
}

@font-face {
  font-family: "Book Antiqua";
  src: url(font/Book-Antiqua/Book\ Antiqua\ Font.ttf);
}

body {
  background-color: #fff1f1;
}

/* navbar */
.navbar {
  background-color: #fff1f1;
}

.navbar-nav p {
  font-family: "Adobe Caslon Pro Semibold";
  padding-right: 2.1rem;
  color: black;
  font-size: 20px;
}

/* akhir navbar */

/* footer */
footer {
  background-color: #ffc2c2;
  border: solid;
  border-color: #ffc2c2;
  text-align: center;
  font-family: "Adobe Caslon Pro Regular";
}

footer h5 {
  font-weight: bold;
  font-size: 17px;
  padding-top: 0.5rem;
}

.toptext {
  padding-top: 1rem;
}

footer p {
  padding: 0;
  margin: 0;
}

footer img {
  width: 49px;
  height: 49px;
}

.ig:hover {
  opacity: 0.7;
}

.wa:hover {
  opacity: 0.7;
}
/* akhir footer */

/* index.html */
/* banner */
.banner img {
  width: 430px;
  height: 400px;
}

.banner h1 {
  font-family: "Adobe Caslon Pro Bold";
  text-align: start;
  color: #f20c0c;
}
/* akhir banner */

/* about */
.about {
  background-color: #fff2f2;
  text-align: center;
  font-family: "Book Antiqua";
  padding-bottom: 4rem;
  padding-top: 1rem;
  font-size: 20px;
}

.about p {
  text-align: justify;
}

.about h2 {
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  font-family: "Book Antiqua";
  font-weight: bold;
  text-align: center;
}
/* akhir about */

/* carousel klien */
.crsl-klien {
  text-align: center;
  font-family: "Book Antiqua";
  padding-bottom: 2rem;
}

.crsl-klien img {
  margin-right: 2.7rem;
}

.crsl-klien h2 {
  font-weight: bold;
  padding-bottom: 1rem;
}
/* akhir carousel klien */

/* akhir index.html */

/* menu.html */
.menu-nasi {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Book Antiqua";
}

.menu-nasi h3 {
  font-weight: bold;
  text-align: start;
}

.menu-nasi img {
  width: 600px;
  height: 300px;
  border-radius: 10%;
}

.menu-nasi h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

.menu-nasi p {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 20px;
}
/* akhir menu.html */

/* klien.html */

.klien-kami {
  background-color: #fff1f1;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Book Antiqua";
  justify-content: center;
  text-align: center;
}

.klien-kami h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

.klien-kami h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}

.klien img {
  width: 300px;
  height: 170px;
}

.klien {
  padding-bottom: 2rem;
}

.klien-kami p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
/* akhir klien.html */

/* kontak.html */

.kontak {
  font-family: "Book Antiqua";
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.kontak h3 {
  font-weight: bold;
  padding-bottom: 5rem;
}

.kontak p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.kontak img {
  margin-left: 10px;
}
.kontak-button {
  background-color: rgb(252, 152, 152);
  color: black;
  float: center;
  margin-top: 10px;
}

.lokasi {
  padding-top: 3rem;
}
.lokasi p {
  text-align: start;
}

.lokasi h5 {
  text-align: start;
}

.lokasi-button {
  background-color: rgb(252, 152, 152);
  color: black;
  float: left;
  margin-top: 13px;
}
/* akhir kontak.html */

/* tentang.html */
.profilnav {
  font-family: "Adobe Caslon Pro Regular";
  text-align: center;
  padding-top: 6rem;
}

.profilnav a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: black;
  font-size: 18px;
}

.profilogo {
  margin-top: 10rem;
}

.profil-pt {
  padding-right: 0;
}

.profilcrsl {
  text-align: center;
}

.carousel-profil h3 {
  font-family: "Book Antiqua";
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.carousel-profil p {
  text-align: justify;
}

.vmnum {
  font-weight: bold;
}

.visi {
  padding-bottom: 2rem;
}

.lb p {
  text-align: end;
}
.tknum p {
  margin: 0;
  padding: 0;
}

.hubungi {
  padding-top: 5rem;
}
/* akhir tentang.html */
