@font-face {
  font-family: "Adobe Caslon Pro Semibold";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Semibold.otf);
}

@font-face {
  font-family: "Adobe Caslon Pro Regular";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Regular.otf);
}

@font-face {
  font-family: "Adobe Caslon Pro Bold";
  src: url(font/Adobe-Caslon-Pro/ACaslonPro-Bold.otf);
}

@font-face {
  font-family: "Book Antiqua";
  src: url(font/Book-Antiqua/Book\ Antiqua\ Font.ttf);
}

@media only screen and (max-width: 576px) {
  .navbar img {
    width: 60px;
    height: 60px;
  }

  .navbar-nav p {
    font-size: 15px !important;
  }

  footer h5 {
    font-size: 15px !important;
  }

  footer p {
    font-size: 13px;
  }

  footer img {
    width: 40px !important;
    height: 40px !important;
  }
  .banner h1 {
    font-family: "Adobe Caslon Pro Bold";
    text-align: start;
    color: #f20c0c;
    font-size: 15px;
  }

  .banner img {
    width: 180px;
    height: 150px;
  }

  .about h2 {
    font-size: 18px;
  }

  .about p {
    font-size: 10px;
  }

  .about img {
    width: 60px !important;
    height: 60px !important;
  }

  .crsl-klien img {
    width: 32px;
    height: 32px;
    margin-right: 3.5px !important;
  }

  .crsl-klien h2 {
    font-size: 18px;
  }

  .menu-nasi img {
    width: 150px !important;
    height: 100px !important;
  }

  .menu-nasi h1 {
    font-size: 18px;
  }

  .menu-nasi h3 {
    font-size: 15px;
  }

  .menu-nasi p {
    font-size: 12px !important;
    text-align: justify !important;
  }

  .klien-kami img {
    width: 150px !important;
    height: 100px !important;
  }

  .klien-kami h5 {
    font-size: 14px;
  }

  .klien-kami p {
    font-size: 13px !important;
  }

  .kontak h5 {
    font-size: 15px;
  }

  .kontak p {
    font-size: 12px;
  }

  .kontak img {
    width: 15px;
    height: 15px;
  }

  .kontak-button {
    font-size: 13px;
  }

  .lokasi-button {
    font-size: 13px;
  }

  .lokasi p {
    font-size: 13px;
  }

  .lokasi iframe {
    width: 140px;
    height: 200px;
  }

  .profilnav a {
    padding-left: 3px !important;
    padding-right: 3px !important;
    font-size: 14px !important;
  }

  .carousel-profil h3 {
    font-size: 20px !important;
  }

  .carousel-profil p {
    font-size: 13px;
  }

  .hubungi p {
    font-size: 13px !important;
  }

  .profil-bt {
    font-size: 15px !important;
  }
}

body {
  background-color: #fff1f1;
}

/* navbar */
.navbar {
  background-color: #fff1f1;
}

.navbar-nav p {
  font-family: "Adobe Caslon Pro Semibold";
  padding-right: 2.1rem;
  color: black;
  font-size: 20px;
}

/* akhir navbar */

/* footer */
footer {
  background-color: #ffc2c2;
  border: solid;
  border-color: #ffc2c2;
  text-align: center;
  font-family: "Adobe Caslon Pro Regular";
}

footer h5 {
  font-weight: bold;
  font-size: 17px;
  padding-top: 0.5rem;
}

.toptext {
  padding-top: 1rem;
}

footer p {
  padding: 0;
  margin: 0;
}

footer img {
  width: 49px;
  height: 49px;
}

.ig:hover {
  opacity: 0.7;
}

.wa:hover {
  opacity: 0.7;
}
/* akhir footer */

/* index.html */
/* banner */
.banner h1 {
  font-family: "Adobe Caslon Pro Bold";
  text-align: start;
  color: #f20c0c;
}
/* akhir banner */

/* about */
.about {
  background-color: #fff2f2;
  text-align: center;
  font-family: "Book Antiqua";
  padding-bottom: 4rem;
  padding-top: 1rem;
  font-size: 20px;
}

.about p {
  text-align: justify;
}

.about h2 {
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  font-family: "Book Antiqua";
  font-weight: bold;
  text-align: center;
}

.about img {
  width: 100px;
  height: 100px;
}
/* akhir about */

/* carousel klien */
.crsl-klien {
  text-align: center;
  font-family: "Book Antiqua";
  padding-bottom: 2rem;
}

.crsl-klien img {
  margin-right: 1rem;
}

.crsl-klien h2 {
  font-weight: bold;
  padding-bottom: 1rem;
}
/* akhir carousel klien */

/* akhir index.html */

/* menu.html */
.menu-nasi {
  background-color: #fff1f1;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Book Antiqua";
  justify-content: center;
  text-align: center;
}

.menu-nasi h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

.menu-nasi h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}

.menu img {
  width: 300px;
  height: 170px;
}

.menu {
  padding-bottom: 2rem;
}

.menu-nasi p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
/* akhir menu.html */

/* klien.html */

.klien-kami {
  background-color: #fff1f1;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Book Antiqua";
  justify-content: center;
  text-align: center;
}

.klien-kami h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

.klien-kami h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}

.klien img {
  width: 300px;
  height: 170px;
}

.klien {
  padding-bottom: 2rem;
}

.klien-kami p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
/* akhir klien.html */

/* kontak.html */

.kontak {
  font-family: "Book Antiqua";
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.kontak h3 {
  font-weight: bold;
  padding-bottom: 3rem;
}

.kontak p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.kontak img {
  margin-left: 10px;
}
.kontak-button {
  background-color: rgb(252, 152, 152);
  color: black;
  float: center;
  margin-top: 10px;
}

.email p {
  text-align: center;
}
.lokasi {
  padding-top: 3rem;
}
.lokasi p {
  text-align: center;
}

.lokasi h5 {
  text-align: center;
}

.lokasi-button {
  background-color: rgb(252, 152, 152);
  color: black;
  float: center;
  margin-top: 13px;
}

/* akhir kontak.html */

/* tentang.html */
.profilnav {
  font-family: "Adobe Caslon Pro Regular";
  text-align: center;
  padding-top: 3rem;
}

.profilnav a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: black;
  font-size: 18px;
}

.profil-pt {
  padding-right: 0;
}

.profilcrsl {
  text-align: center;
}

.carousel-profil h3 {
  font-family: "Book Antiqua";
  font-weight: bold;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}
.carousel-profil p {
  text-align: justify;
}

.vmnum {
  font-weight: bold;
}

.visi {
  padding-bottom: 2rem;
}

.lb p {
  text-align: end;
}
.tknum p {
  margin: 0;
  padding: 0;
}

.hubungi {
  padding-top: 3rem;
  text-align: center;
}

.profil-bt {
  font-size: 20px;
}
/* akhir tentang.html */
